.GifList-container {
    width: 80%;
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    padding: 2em;
    background-color: #E7E7E7;
    margin-top: 2em;
}

.GifList-gif {
    width: 100%;
    max-width: 250px;
    margin-bottom: 3em;
}