
.gifList-heading {
    font-weight: 500;
}

.gifList-heading span {
    font-weight: 700;
}

.gifList-dark {
    color:white;
}

.gifList-light {
    color:#6809E1;
}

.GifList-container {
    width: 80%;
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: space-around;
    flex-wrap: wrap;
    padding: 2em;
    background-color: #E7E7E7;
    margin-top: 2em;
}

.GifList-gif img {
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin: 1.5em 0;
}