.GifList {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center
}

.GifList-gif {
    width: 100%;
    max-width: 400px;
}